@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* -------Reset------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* -------Common------- */
body{
    background: #f39c12;
    height: 100vh;
}

/* -------Container------- */
.container{
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: #1c1c1c;
    padding: 20px 15px;
}

.container .si,
.container .su{
    background: #f39c12;
    padding: 20px;
    margin: 10px;
    min-width: 260px;
}

/* -----Inputs and Clicks----- */
.container .inputs,
.container .click{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .si .re{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .si .re label{
    margin-left: 15px;
    font-size: 0.9rem;
}

.container .inputs input{
    margin: 8px 0;
    padding: 3px 12px;
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    font-size: 0.85rem;
}

.container button{
    margin: 8px 0;
    width: 100%;
    padding: 8px 0;
    background: #1c1c1c;
    border: none;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.container button:hover{
    background: #fff;
    color: #1c1c1c;
}

/* -------Responsive------- */
@media(max-width: 740px){
    .container{
        top: 20px;
        width: 50%;
        min-width: 290px;
        flex-wrap: wrap;
    }
}
